# Node.js dependencies
node_modules
npm-debug.log*

# Dependency management
package-lock.json
yarn.lock

# TypeScript build output
out/
.tsbuildinfo

# SQLite database
database.db

# Editor
.vscode/
.idea/

# Logs
*.log
*.tmp
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
public/build/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Jest coverage output
coverage/
